.movie-results-summary {
  * {
    //border: 1px solid red;
  }
}

.movie-results-summary__icon {
  padding-right: 10px;
}

.movie-results-summary__count {
  width: 50px;
}

.movie-results-summary__count--yay {
  @extend .movie-results-summary__count;
  color: green;
}

.movie-results-summary__count--nay {
  @extend .movie-results-summary__count;
  color: red;
}

.movie-results-summary__icon--yay {
  @extend .movie-results-summary__icon;
  & > svg {
    vertical-align: text-bottom;
  }
}

.movie-results-summary__icon--nay {
  @extend .movie-results-summary__icon;
  & > svg {
    vertical-align: text-top;
  }
}
