.text-input {
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  border: none;
  border-radius: 3px;
  background-color: $card-background;
  color: $on-card;
  &:focus {
    box-shadow: 0 0 0 2px #2cb67d;
    outline: none;
  }
}
gi .text-input--grow {
  flex-grow: 1;
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}
