.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  background: $card-background;
  margin-bottom: $m-size;
  border-radius: 3px;
  padding: $s-size;
}

.list-item {
  border: none;
  color: $on-card;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  transition: background 300ms ease;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.list-item--hover-effect {
  &:hover {
    background-color: lighten($card-background, 20%);
  }
}

.list-item--background-image {
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.6);
  &:hover {
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
