.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.video-modal {
  width: auto;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: $m-size;
  border-radius: 3px;
  background-color: $card-background;
}

.video-modal__video {
  margin-bottom: $m-size;
  border-radius: 3px;
}

.video-modal__button {
  justify-self: center;
}
