* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  color: $off-white;
  font-family: Poppins, sans-serif;
  font-size: $font-size-medium;
  line-height: 1.6;
  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-small;
    line-height: 1.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
}

h2 {
  font-size: 2.4rem;
  margin: $s-size 0;
  @media (max-width: $desktop-breakpoint) {
    font-size: 1.8rem;
    margin: 0;
  }
}

h3 {
  font-size: $font-size-large;
  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-medium;
    margin: 0;
  }
}

p {
  font-weight: 300;
  color: $paragraph-color;
}

li {
  color: $paragraph-color;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
