@use "src/global/styles/base/settings" as token;

.button {
  background: token.$primary;
  border: none;
  border-radius: 3px;
  color: token.$on-primary;
  display: inline-block;
  font-size: token.$font-size-large;
  font-variant: all-small-caps;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: token.$s-size;
  text-decoration: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:enabled {
    &:hover,
    &:focus {
      background: darken(token.$primary, 3%);
      outline: none;
    }
    &:active {
      background: darken(token.$primary, 5%);
      outline: none;
    }
  }
  & > svg {
    margin: auto;
  }
  @media (max-width: token.$desktop-breakpoint) {
    font-size: token.$font-size-medium;
    padding: token.$xs-size;
    & > svg {
      height: 16px;
      width: 16px;
    }
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: token.$secondary;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:enabled {
    &:hover,
    &:focus {
      background: darken(token.$secondary, 3%);
      outline: none;
    }

    &:active {
      background: darken(token.$secondary, 5%);
      outline: none;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  margin: token.$xs-size 0;
  * {
    margin-left: 0;
    margin-right: token.$s-size;
    @media (max-width: token.$desktop-breakpoint) {
      margin-right: token.$xs-size;
    }
  }
  .button:last-child {
    margin-right: 0;
  }
  .button {
    flex-grow: 2;
    @media (max-width: token.$desktop-breakpoint) {
      flex-grow: 1;
    }
  }
  .button--secondary {
    flex-grow: 1;
  }
  @media (max-width: token.$desktop-breakpoint) {
    margin: token.$sh-size;
  }
}
