.button {
  background: $primary;
  border: none;
  border-radius: 3px;
  color: $on-primary;
  display: inline-block;
  font-size: $font-size-large;
  font-variant: all-small-caps;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:enabled {
    &:hover,
    &:focus {
      background: darken($primary, 3%);
      outline: none;
    }
    &:active {
      background: darken($primary, 5%);
      outline: none;
    }
  }
  & > svg {
    margin: auto;
  }
  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-medium;
    padding: $xs-size;
    & > svg {
      height: 16px;
      width: 16px;
    }
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: $secondary;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:enabled {
    &:hover,
    &:focus {
      background: darken($secondary, 3%);
      outline: none;
    }

    &:active {
      background: darken($secondary, 5%);
      outline: none;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  margin: $xs-size 0;
  * {
    margin-left: 0;
    margin-right: $s-size;
    @media (max-width: $desktop-breakpoint) {
      margin-right: $xs-size;
    }
  }
  .button:last-child {
    margin-right: 0;
  }
  .button {
    flex-grow: 2;
  }
  .button--secondary {
    flex-grow: 1;
  }
  @media (max-width: $desktop-breakpoint) {
    margin: $sh-size;
  }
}
