@use "src/global/styles/base/settings" as token;

.movie-item {
  align-items: center;
  border: none;
  border-radius: 3px;
  color: token.$on-card;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: token.$mlh-size;
  text-decoration: none;
  transition: background 300ms ease;
  @media (max-width: token.$desktop-breakpoint) {
    padding: token.$sh-size;
  }
  .button-group {
    margin: 0;
  }
}

.movie-item--expanded {
  @extend .movie-item;
  align-items: stretch;
  @media (max-width: token.$desktop-breakpoint) {
    flex-direction: column;
  }
}

.movie-item__image-section {
  display: block;
  line-height: 0;
  @media (max-width: token.$desktop-breakpoint) {
    line-height: unset;
    margin-bottom: token.$xs-size;
    display: flex;
    flex-direction: row;
  }
}

.movie-item__text-section {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
}

.movie-item__image-section__text {
  display: none;
  @media (max-width: token.$desktop-breakpoint) {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.movie-item--selected {
  box-shadow: inset 0 0 0 2px token.$primary;
}

.list-item--hoverable {
  &:hover,
  &:focus-within {
    background-color: lighten(token.$card-background, 20%);
    outline: none;
  }
}

.movie-item__poster {
  align-self: start;
  border-radius: 3px;
  flex: 0 0 250px;
  margin-right: token.$mlh-size;
  @media (max-width: token.$desktop-breakpoint) {
    align-self: center;
    flex: 0 0 65px;
    width: 65px;
    margin-right: token.$xs-size;
  }
}

.movie-item__poster--small {
  align-self: center;
  flex: 0 0 68px;
  @media (max-width: token.$desktop-breakpoint) {
    flex: 0 0 45px;
    width: 45px;
  }
}

.movie-item__info--large {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  & > * {
    @media (max-width: token.$desktop-breakpoint) {
      padding: 0 0 token.$xs-size 0;
    }
  }
  & .movie-item__title,
  & .movie-item__meta {
    @media (max-width: token.$desktop-breakpoint) {
      display: none;
    }
  }
  & .button-group {
    margin: 0;
    padding: 0;
  }
}

.movie-item__info--small {
  flex-grow: 1;
  justify-items: left;
  margin-right: token.$xs-size;
  * {
    line-height: 1;
    margin: 0;
    font-weight: 300;
    padding: 0 0 token.$s-size 0;
  }
  @media (max-width: token.$desktop-breakpoint) {
    padding: 0 0 token.$xs-size 0;
    * {
      padding: 0 0 token.$xs-size 0;
    }
  }
}

.movie-item__title {
  margin: 0;
  padding-bottom: token.$xs-size;
}

.movie-item__meta {
  line-height: 1;
  font-size: token.$font-size-small;
  color: token.$paragraph-color;
  padding: 0 0 token.$s-size 0;
  span {
    margin-right: token.$xs-size;
  }
  @media (max-width: token.$desktop-breakpoint) {
    font-size: token.$font-size-xsmall;
    padding: 0;
  }
}

.movie-item__meta__runtime {
  white-space: nowrap;
}

.movie-item__score {
  margin: 0;
  padding: 0 0 token.$s-size 0;
}

.movie-item__tagline {
  font-style: italic;
  padding: 0 0 token.$s-size 0;
  margin: 0;
  @media (max-width: token.$desktop-breakpoint) {
    padding: 0;
    text-align: center;
  }
}

.movie-item__overview-heading {
  margin: 0;
  padding-bottom: 0;
}

.movie-item__overview {
  flex-grow: 1;
  margin: 0;
}

.movie-item__button--small {
  align-self: center;
  flex: 0 0;
  margin: 0;
}

.movie-item__button-group {
  * {
    margin-right: token.$s-size;
  }
}
