.movie-item {
  align-items: center;
  border: none;
  border-radius: 3px;
  color: $on-card;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: calc(#{$m-size} / 2) calc(#{$ml-size} / 2);
  text-decoration: none;
  transition: background 300ms ease;
  @media (max-width: $desktop-breakpoint) {
    padding: calc(#{$m-size} / 2) $sh-size;
  }
}

.movie-item--selected {
  box-shadow: inset 0 0 0 2px $primary;
}

.list-item--hoverable {
  &:hover,
  &:focus-within {
    background-color: lighten($card-background, 20%);
    outline: none;
  }
}

.movie-item__poster {
  align-self: start;
  border-radius: 3px;
  flex: 0 0 250px;
  margin-right: $m-size;
  @media (max-width: $desktop-breakpoint) {
    flex: 0 0 45px;
  }
}

.movie-item__poster--small {
  align-self: center;
  flex: 0 0 68px;
  @media (max-width: $desktop-breakpoint) {
    flex: 0 0 45px;
  }
}

.movie-item__info {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.movie-item__info--small {
  flex-grow: 1;
  justify-items: left;
  margin-right: $s-size;
  * {
    line-height: 1;
    margin: 0;
    font-weight: 300;
    padding: 0 0 $s-size 0;
  }
  //span {
  //line-height: 1;
  //font-size: $font-size-small;
  //color: $paragraph-color;
  //}
}

.movie-item__title {
  margin: 0;
  padding-bottom: $xs-size;
}

.movie-item__meta {
  line-height: 1;
  font-size: $font-size-small;
  color: $paragraph-color;
  padding: 0 0 $s-size 0;
  span {
    margin-right: $xs-size;
  }
  @media (max-width: $desktop-breakpoint) {
    font-size: $font-size-xsmall;
    padding: 0;
  }
}

.movie-item__meta__runtime {
  white-space: nowrap;
}

.movie-item__score {
  margin: 0;
  padding: 0 0 $s-size 0;
}

.movie-item__tagline {
  font-style: italic;
  padding: 0 0 $s-size 0;
  margin: 0;
}

.movie-item__overview-heading {
  margin: 0;
  padding-bottom: 0;
}

.movie-item__overview {
  flex-grow: 1;
}

.movie-item__button--small {
  align-self: center;
  width: 50px;
  flex: 0 0;
  margin: 0 $xs-size;
}

.movie-item__button-group {
  * {
    margin-right: $s-size;
  }
}
