.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  @extend .card;
  display: flex;
  flex-direction: column;
  outline: none;
  width: auto;
}

.modal__video {
  margin: 0.8rem 0;
  border-radius: 3px;
}

.modal__button {
  justify-self: center;
}
