.invite-voters {
  display: flex;
  flex-direction: row;
  & > * {
    display: inline-block;
  }
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.invite-voters__button {
  margin-left: $m-size;
  margin-right: $m-size;
  padding: 0;
  height: max-content;
  align-self: center;
  display: flex;
  @media (max-width: $desktop-breakpoint) {
    align-self: stretch;
    margin: 0;
  }
  textarea {
    @extend .button;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    resize: none;
    text-align: center;
  }
  * {
    flex-grow: 1;
  }
}
