.header {
  background: $primary;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  letter-spacing: -1px;
  color: $on-primary;
  text-decoration: none;
  h1 {
    font-weight: 900;
    font-style: italic;
    margin: 0;
  }
}

.header__button {
  color: $on-primary;
}
