.button {
  background: $primary;
  color: $on-primary;
  border: none;
  display: inline-block;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  font-variant: all-small-caps;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:not(&:disabled) {
    &:hover,
    &:focus {
      background: darken($primary, 5%);
      outline: none;
    }
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: $secondary;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:not(&:disabled) {
    &:hover,
    &:focus {
      background: darken($secondary, 5%);
      outline: none;
    }
  }
}
