.content-container {
  margin: 0 auto;
  padding: $xs-size 54px;
  width: 1140px;
}

.container--flex-col {
  display: flex;
  flex-direction: column;
}

.container--flex-row {
  display: flex;
  flex-direction: row;
  .button {
    flex-grow: 2;
    margin-right: $s-size;
  }
  .button--secondary {
    flex-grow: 1;
    margin-right: 0;
  }
}

.container--padding-y {
  padding: $m-size 0;
}
