@use "../base/settings" as token;
@use "../base/base" as base;

@mixin text-input {
  border: none;
  border-radius: 3px;
  color: token.$on-card;
  font-size: token.$font-size-large;
  font-weight: 300;
  height: 50px;
  &:focus {
    box-shadow: 0 0 0 2px token.$primary;
    outline: none;
  }
  @media (max-width: token.$desktop-breakpoint) {
    font-size: token.$font-size-medium;
  }
}

.text-input {
  @include text-input;
}

.text-input--grow {
  flex-grow: 1;
}

.select {
  @include text-input;
}

.text-area {
  @include text-input;
  height: 10rem;
}
