.text-input {
  border: none;
  border-radius: 3px;
  color: $on-card;
  font-size: $font-size-large;
  font-weight: 300;
  height: 50px;
  &:focus {
    box-shadow: 0 0 0 2px $primary;
    outline: none;
  }
}

.text-input--grow {
  flex-grow: 1;
}

.select {
  @extend .text-input;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}
